.loginPage {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "PT Sans", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1f41a9;
  background-image: url("../../public/assets/BG.svg");
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}
.heading-image {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3rem;
}
.login-heading {
  margin-left: 2rem;
}
.inputBox {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputForm > div {
  margin-bottom: 1rem;
}

.inputForm > div > div {
  color: #fff;
}

.css-ittuaa-MuiInputAdornment-root {
  color: #fff !important;
}

.MuiButtonBase-root {
  color: #fff !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #fff !important;
}

.textfieldIcons > svg {
  color: #fff !important;
}

#loginBtn {
  color: #13d433 !important;
  border: 1px solid #13d433 !important;
}

#loginBtn:hover {
  color: #13d433 !important;
  font-weight: 600;
  border: 2px solid #13d433 !important;
}

.MuiFormHelperText-root {
  color: rgb(255 240 55 / 87%) !important;
}
